<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nouvelle participation à votre événement, <%= @admin.first_name %>!</h1>

    <p>Un nouvel utilisateur s'est inscrit à votre événement "<%= @event.title %>".</p>

    <p>Vous pouvez voir les détails de l'événement et gérer les participants sur la plateforme.</p>

    <p>Merci d'utiliser notre service,</p>
    <p>L'équipe Eventbrite</p>
  </body>
</html>