<h1>Bienvenue, <%= @user.first_name %> <%= @user.last_name %></h1>
<p>Email: <%= @user.email %></p>
<p>évènements enregistrés:</p>
<% @user.events.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>