<h1><%= @event.title %></h1>
<p>Date: <%= @event.start_date.strftime('%d %B %Y') %></p>
<p>Description: <%= @event.description %></p>

<% if user_signed_in? %>
  <%= link_to "S'inscrire à cet événement", attend_event_path(@event), method: :post %>
<% end %>